__pycache__/
*.pyc

simgui*
networktables.json
CanCoder*.dat
ctre_sim/CANCoder vers. H - 07 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 010 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 013 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 016 - 0 - ext.dat
