__pycache__/
*.pyc

simgui*
networktables.json
simgui-ds.json
simgui-window.json
simgui.json
CanCoder*.dat
tests/ctre_sim/CANCoder vers. H - 07 - 0 - ext.dat
tests/ctre_sim/CANCoder vers. H - 010 - 0 - ext.dat
tests/ctre_sim/CANCoder vers. H - 013 - 0 - ext.dat
tests/ctre_sim/CANCoder vers. H - 016 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 07 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 010 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 013 - 0 - ext.dat
ctre_sim/CANCoder vers. H - 016 - 0 - ext.dat

